
<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" media="all" th:href="@{/css/style.css}" />
<link rel="stylesheet" media="all"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<head>
<meta charset="UTF-8">

<title>掲示板作成</title>
</head>
<div class="container">

	<div>掲示板新規作成</div>
	<div class="form-box">

		<form th:method="post" th:action="@{/boards}" th:object="${board}" th:name="userId">
			<div class="form-group">
				<label>スレッド名</label> <input
					name="name" type="text" required="required" autofocus="autofocus">
			</div>
			<div class="form-group form-check">
				<input type="checkbox" class="form-check-input" id="exampleCheck1">
				<label class="form-check-label" for="exampleCheck1">掲示板を作成します。よろしいですか？</label>
			</div>
			<button type="submit" class="btn btn-primary">作成</button>
		</form>
	</div>

</div>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
</body>
</html>