<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" media="all" th:href="@{/css/style.css}" />
<link rel="stylesheet" media="all"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<link href="/css/boards.css" th:href="@{/css/boards.css}"
	rel="stylesheet"></link>
<head>
<meta charset="UTF-8">
<title>投稿ページ</title>
</head>
<body>
	<header class="p-header my-3">
		<div class="p-header-container">
			<nav class="navbar navbar-light justify-content-between">
				<!-- 			th:boardNameの追加
 -->
				<div>ポケモン育成論掲示板</div>
				<a href="/login"
					class="btn btn-info btn-xs pull-right mx-5　navbar-brand">ログアウト</a>
			</nav>
		</div>
	</header>
	<div class="main">
		<div class="container">
			<form method="post" action="#" id="data_upload_form"
				enctype="multipart/form-data"
				th:action="|/boards/${board_id}/comments/create|">
				<div class="form-group text-center">
					<label>タイトル</label> <input type="text" th:object="${comment}"
						th:name="title" class="form-control" autofocus="autofocus">
				</div>
				<div class="form-group text-center">
					<label for="exampleFormControlTextarea1">本文</label>
					<textarea th:object="${comment}" th:name="text"
						class="form-control" id="exampleFormControlTextarea1" rows="3"
						required="required" autofocus="autofocus"></textarea>
					画像ファイルを選択：<input type="file" th:object="${imageForm}" name="image" class="m-2" /><br />
				</div>
				<button class="btn btn-info btn-block login" type="submit">投稿する</button>
			</form>
		</div>
	</div>

	<script type="text/javascript"
		th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
</body>
</html>

